.nomargin{
    margin:0;
}

.nopadding{
    padding: 0;
}
ul{
    padding: 0;
    height:34vh;
    overflow-y: auto;
}
.list{
    list-style: none;
    font-size: 25px;
    line-height: 48px;
    color: #1e456d;
    text-align: center;
    border: 1px solid #ccd4d9;
    padding: 10px 10px 5px 10px !important;
    margin: 0 5px 10px 0px;
    display: block;
    width: auto;
    border-radius: 4px;
}
