
<div class='mt-4 row col-10 col-sm-10 col-lg-10 col-md-10 col-xl-10 offset-1 offset-sm-1 offset-lg-1 offset-1 offset-md-1 offset-xl-1 nopadding'>
    <div class='card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 offset-lg-1 offset-md-1 offset-xl-1 nopadding'>
        <div class="row card-header col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding nomargin">
          <div class='col-2 col-sm-2 col-lg-2 col-md-2 col-xl-2' style="padding-top: 8px;" title='add trek' data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus-circle" aria-hidden="true" style='font-size: 30px;'></i>
          </div>
          <h4 class='col-10 col-sm-10 col-lg-10 col-md-10 col-xl-10' style="padding-top: 8px;">Upcoming treks</h4>
        </div>
        <div class="card-body">
          <ul>
            <li class='list' *ngFor="let obj of listArray">{{obj.name}}</li>
          </ul>
        </div>
    </div>
    <div class='card col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 offset-md-1 offset-lg-1 offset-xl-1 nopadding'>
        <div class='card-header'>
            <h4 class='text-center'>Raigad Trek Information</h4>
        </div>
        <div class='card-body'>
            <div  *ngFor="let obj of trekInfo" style='margin:5px 0;font-size: 18px;'>
              <span style='text-align: left;'>{{obj.title}}</span>
              <span>{{obj.name}}</span>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="uname">Enter Organization Name</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter Organization Name" name="uname">
          </div>
          <div class="form-group">
            <label for="pwd">Date</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter date" name="date">
          </div>
          <div class="form-group">
            <label for="pwd">Starting Point</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter starting point" name="sPoint">
          </div>
          <div class="form-group">
            <label for="pwd">Cost Per Person</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter Cost Per Person" name="cpp">
          </div>
          <div class="form-group">
            <label for="pwd">Other facilities</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter other facilities" name="otherFacility">
          </div>
          <div class="form-group">
            <label for="pwd">Number of people</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter number of people" name="numPpl">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
