html,body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fafafa !important;
    overflow: hidden;
    
}
.nopadding
{
    padding: 0!important;
}
.card{
    border:1px solid #dbdbdb;
    background-color: #fff;
    
}
.loginCard{
    margin-top:13vh;
}

.signupCard{
    margin-top:7vh;
}
.logoDiv{
    height:21vh;
    margin-top: -15vh;
    padding: 15px;
}
.logoDiv img{
    width: 100%;
    height: 100%;
}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -111px;
    border-radius: 50%;
    background: #fafafa;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
/* .title{
    color:black;
    margin:20px 0;
    font-family: 'Oleo Script', cursive;
}
 */
.loginBtn{
    font-weight: bold;
    padding: 5px 9px;
}
.inputStyle{
    background: #fafafa;
}
    