html,body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fafafa !important;
    overflow: hidden;
    
}
.nopadding
{
    padding: 0!important;
}
.card{
    border:1px solid #dbdbdb;
    background-color: #fff;
}
.title{
    color:black;
    margin:20px 0;
    font-family: 'Oleo Script', cursive;
}

.loginBtn{
    font-weight: bold;
    padding: 5px 9px;
}
.inputStyle{
    background: #fafafa;
}
    