<!DOCTYPE html>
<html lang="en">
<head>
  <title>homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
      <a href="#" class="navbar-brand mainHeader rounded-circle">
        <img src='/assets/logo.png' class='rounded-circle'>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a style="cursor: pointer;" class="nav-item nav-link" *ngFor="let obj of notificationArray"[id]='obj.id' (click)="createComponent(obj.id)">{{obj.name}}</a>
          </div>
          <div class="navbar-nav ml-auto">
              <a style="cursor: pointer;" (click)="createComponent(5)" class="nav-item nav-link">Login</a>
          </div>
      </div>
  </nav>

  <div class="container-fluid text-center">    
    <div class="row content">
      
      <div style="height:auto;padding:0;" class="col-sm-12 text-left"> 
        <template #loadComponent>
        </template>
      </div>

    </div>
  </div>
  <!-- <footer class='footer col-12'>
    <div class='text-center'>copyright @ all rights reserved</div>
  </footer> -->
</body>
</html>
