
<div class='row nomargin'>
    <div class='col-12 col-sm-12 col-lg-6 col-md-6 col-xl-6 offset-lg-3 offset-md-3 offset-xl-3'>
        <div class="filterDiv card mt-4 col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nopadding">
            <div class="card-body row nomargin" style='padding-bottom: 0;'>
                <div class="form-group col-12 col-sm-12 col-lg-6 col-md-6 col-xl-6 " style='margin-bottom: 20px;'>
                    <input type="text" class="form-control" id="usr" name="stateName" placeholder="By district name">
                </div>
                <div class="form-group col-12 col-sm-12 col-lg-6 col-md-6 col-xl-6" style='margin-bottom: 20px;'>
                    <input type="text" class="form-control" id="pwd" name="fortName" placeholder='By fort name'>
                </div>
            </div>
        </div>
        <div class='postDiv col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nopadding'>
            <div
                class='mt-4 mb-5 card col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nopadding'>
                <div class="card-header" style='display:inline-flex'>
                    <div class='profilePicDiv rounded-circle '>
                        <img src='/assets/download.jpeg' class='profilePic rounded-circle'>
                    </div>
                    <div style='display: inline-flex;width:90%'>
                        <div style='width:100%;padding:10px 10px'>
                            <div style='font-size: 14px;'>Durgpremi</div>
                            <div style='font-size: 12px;'>New Sangvi</div>
                        </div>
                        <div style='padding:15px 0;text-align: center;' class='popOut' data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
    
                <div class="card-body nopadding">
                    <div id="carouselExample" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                          <div class="postImgDiv carousel-item active">
                            <img class="postImg d-block w-100" src="/assets/download.jpeg" data-src="holder.js/900x400?theme=social" alt="First slide">
                          </div>
                          <div class="postImgDiv carousel-item">
                            <img class="postImg d-block w-100" src="/assets/Forts-in-Maharashtra.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                          </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExample" data-slide-to="0" class="active carouselList"></li>
                            <li data-target="#carouselExample" data-slide-to="1" class='carouselList'></li>
                        </ol>
                    </div>
                    <div class='row col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nomargin nopadding'>
                        <div class='iconDiv text-center col-1 col-sm-1 col-lg-1 col-md-1 col-xl-1'>
                           <!--  <i class="fa fa-heart-o" aria-hidden="true"></i> -->
                           <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </div>
                        <div class='iconDiv text-center col-2 col-sm-2 col-lg-1 col-md-1 col-xl-1'>
                            <!-- <i class="fa fa-share-alt" aria-hidden="true"></i> -->
                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='captionDiv row col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nomargin'>
                        <span style='font-weight: bold;font-size: 15px;'>Durgpremi</span>
                        <span class='caption'>Caption goes here....</span>
                    </div>
                </div>
                <div class="card-footer ">
                    <form>
                        <div class='row nomargin col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nopadding'>
                            <div class=' col-10 col-sm-10 col-lg-10 col-md-10 col-xl-10 nopadding'>
                                <textarea class='comment col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nopadding'
                                    placeholder='Add a comment...'></textarea>
                            </div>
                            <div class='text-primary col-2 col-sm-2 col-lg-2 col-md-2 col-xl-2 nopadding' style='font-weight: 600;text-align: right;'>
                                Post
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div
            class='mt-4 mb-5 card col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nopadding'>
            <div class="card-header" style='display:inline-flex'>
                <div class='profilePicDiv rounded-circle '>
                    <img src='/assets/download.jpeg' class='profilePic rounded-circle'>
                </div>
                <div style='display: inline-flex;width:90%'>
                    <div style='width:100%;padding:10px 10px'>
                        <div style='font-size: 14px;'>Durgpremi</div>
                        <div style='font-size: 12px;'>New Sangvi</div>
                    </div>
                    <div style='padding:15px 0;text-align: center;' class='popOut' data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="card-body nopadding">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="postImgDiv carousel-item active">
                        <img class="postImg d-block w-100" src="/assets/download.jpeg" data-src="holder.js/900x400?theme=social" alt="First slide">
                      </div>
                      <div class="postImgDiv carousel-item">
                        <img class="postImg d-block w-100" src="/assets/Forts-in-Maharashtra.jpg" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
                      </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active carouselList"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class='carouselList'></li>
                    </ol>
                </div>
               
                <div class='row col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nomargin nopadding'>
                    <div class='iconDiv text-center col-1 col-sm-1 col-lg-1 col-md-1 col-xl-1'>
                       <!--  <i class="fa fa-heart-o" aria-hidden="true"></i> -->
                       <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <div class='iconDiv text-center col-2 col-sm-2 col-lg-1 col-md-1 col-xl-1'>
                        <!-- <i class="fa fa-share-alt" aria-hidden="true"></i> -->
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </div>
                </div>
                <div class='captionDiv row col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nomargin'>
                    <span style='font-weight: bold;font-size: 15px;'>Durgpremi</span>
                    <span class='caption'>Caption goes here....</span>
                </div>
            </div>
            <div class="card-footer ">
                <form>
                    <div class='row nomargin col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nopadding'>
                        <div class=' col-10 col-sm-10 col-lg-10 col-md-10 col-xl-10 nopadding'>
                            <textarea class='comment col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 nopadding'
                                placeholder='Add a comment...'></textarea>
                        </div>
                        <div class='text-primary col-2 col-sm-2 col-lg-2 col-md-2 col-xl-2 nopadding' style='font-weight: 600;text-align: right;'>
                            Post
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        
    </div>
</div>

<!-- The Modal -->
<div class="modal row  col-10 col-sm-10 col-lg-2 col-md-2 col-xl-2 offset-1 offset-sm-1 offset-lg-5 offset-md-5 offset-xl-5 nopadding" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body nopadding">
            <div  class='text-center' data-dismiss="modal" style='padding:8px 8px;border-bottom:1px solid #dbdbdb;cursor:pointer'>
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                <span style='font-weight: bold;'> Share</span>
            </div>
            <div  class='text-center' data-dismiss="modal" style='padding:8px 8px;cursor:pointer'>
                <i class="fa fa-times" aria-hidden="true"></i>
                <span style='font-weight: bold;'> Close</span>
            </div>
        </div>
      </div>
    </div>
</div>
